<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--WEB-->
    <!--data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true-->
    <!--<add name="StringConn" connectionString="Server=www.dkosoftware.com.br;Database=dkosoftware;User Id=rbfz800;Password=300999;" />-->
    <!--<add name="StringConn" connectionString="Server=10.1.1.4;Database=siml1;User Id=userSi;Password=@usersi;Connect Timeout=99999;"/>-->
    <!--Conexão Local com windows Authentication-->
    <add name="StringConn" connectionString="Server=(local);Database=siml;Integrated Security=True;Connect Timeout=99999;" />
    <!--Desenvolvimento-->
    <!--<add name="StringConn" connectionString="Server=75.126.154.163;Database=simundolimpo;User Id=acesso;Password=123456;"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>